body{
    background-color: #f5f5f5;
}


.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* shared style */
  .text-primary{
      color: #006A50;
  }

  .src{
    border-radius: 8px;
    border-color: #09a15c;
    padding: 8px 5px;
  }
  
  .dark-2{
      color: #474747;
  }
  
  /* Nav Styles */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 100px;
  }
  
  .nav-title{
      font-weight: 800;
      font-size: 45px;
  }
  
  nav ul {
      display: flex;
      align-items: center;
  }
  
  nav ul li {
      list-style: none;
      margin-right: 51px;
  }
  
  nav li a {
      text-decoration: none;
  }
  
  .btn-primary{
      background-color: #006A50;
      font-weight: bold;
      font-size: 20px;
      color: aliceblue;
      padding: 18px 35px;
      border-radius: 5px;
      border: none;
  }
  .btn-primary:hover{
    background-color: #004d39;
  }

  .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

  
  /* banner style */
  .banner {
    background-color: #C6E4D6;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-left: 80px;
      margin-right: 80px;
      /* margin: 0 30px 0 100px; */
      
  }
  .banner-container{
      max-width: 580px;
      padding-bottom: 100px;
  }
  .banner-greetings{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 0%;
      font-size: large;
  }
  .banner-title{
      font-weight: bold;
      font-size: 40px;
  }
  
  .banner-profile-pic{
      width: 580px;
  }

   /* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    
    margin-top: 130px;
    margin-bottom: 30px;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}
.donate-input{
    align-items: center;
    width: 750px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    margin-top: 40px;
}
.about-items{
    align-items: center;
}

.about-item{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #2e7d5c;
}
.item-title{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

 /* .item-title1{ 
    
}*/


.about-item:hover {
    background-color:#C6E4D6;
}

.subscribe{
    border-radius: 10px;
    padding: 80px 100px;
    text-align: center;
    margin-top: 130px;
    background-color: #C6E4D6;
}

/* skill */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-container > :first-child {
    background-color: #d5e1f5;
  }
  .skills-container > :nth-child(2) {
    background-color: #f7ebcf;
}
.skills-container > :nth-child(3) {
    background-color: #c6e4d6;
}

.skills-container > :first-child button {
    background-color: #5490f5;
      font-weight: bold;
      font-size: 20px;
      color: aliceblue;
      padding: 18px 35px;
      border-radius: 5px;
      border: none;
      margin-top: 20px;
}

.skills-container > :nth-child(2) button{
    background-color: #ffc239;
      font-weight: bold;
      font-size: 20px;
      color: aliceblue;
      padding: 18px 35px;
      border-radius: 5px;
      border: none;
      margin-top: 20px;
}
.skills-container > :nth-child(3) button{
    background-color: #09a15c;
      font-weight: bold;
      font-size: 20px;
      color: aliceblue;
      padding: 18px 35px;
      border-radius: 5px;
      border: none;
      margin-top: 20px;
}
.section-description{
    padding-bottom: 20px;
}

.news-container{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    gap: 24px;
    align-items: center;
}
.sateliteImg{
    border-radius: 15px;
}

.news-container-two{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.advisor{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
    display: flex;
    gap: 24px;
    align-items: center;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 20px left 30px;
}

/* footer */

.ftr{
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
}
 /* .ftr-icons{ 
   display: flex;
   align-items: ;
   margin-top: 80px;
}*/

.img-icon{
margin-right: 10px;
}


/* nws latr */

.newsletter-form input {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .newsletter-form button {
    background-color: #2e7d5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .newsletter-form button:hover {
    background-color: #256e4e;
  }